[v-cloak] {
  display: none;
}
.oh {
  overflow: hidden;
}
h2 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
.header {
  padding: 10px;
  border: 1px solid #ccc;
}
.body {
  background: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 10px;
}
.image-canvas .card-body {
  display: block;
}
.image-canvas .card-body .content-container {
  margin: auto;
}
.image-canvas .card-body .img-wrapper {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.image-canvas .nav-container {
  width: 50%;
  margin: auto;
}
.image-canvas .nav-container ul {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.nav-item {
  display: inline-block;
}
.nav-item a.active {
  color: #007bff !important;
  background: #d9e5ed !important;
}
.filter-thumb {
  cursor: pointer;
}
.upload-container {
  background: #ECEFF4;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.upload-container .uploader-label {
  padding: 20px;
  padding-left: 0;
}
.upload-container .uploader {
  text-align: center;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}
/**
Filter
 */
.greyScale {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
          filter: sepia(1);
}
.invert {
  -webkit-filter: invert(1);
          filter: invert(1);
}
/* highlight color */
/* CSS generated layers for duotone shadow/highlight colors */
.duotone::before,
.duotone::after,
.warm::before,
.warm::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.duotone,
.warm {
  position: relative;
}
/* CSS generated layers for duotone shadow/highlight colors */
.duotone::after {
  background-color: hsl(164, 50%, 50%);
  mix-blend-mode: darken;
}
.duotone::before {
  background-color: hsl(291, 50%, 25%);
  mix-blend-mode: lighten;
}
.warm::after {
  background-color: hsl(59, 64%, 46%);
  mix-blend-mode: darken;
}
.warm::before {
  background-color: hsl(291, 50%, 25%);
  mix-blend-mode: lighten;
}
.cool {
  position: relative;
}
.cool img {
  -webkit-filter: grayscale(100%) contrast(1);
          filter: grayscale(100%) contrast(1);
  mix-blend-mode: multiply;
  position: relative;
}
.cool::before {
  background-color: #618cf5;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  mix-blend-mode: color-burn;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.dramatic::before,
.dramatic::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.dramatic {
  position: relative;
}
.dramatic::after {
  background-color: hsl(164, 50%, 50%);
  mix-blend-mode: darken;
}
.dramatic::before {
  background-color: hsl(291, 50%, 25%);
  mix-blend-mode: lighten;
}
.dramatic::after {
  background-color: hsl(197, 25%, 67%);
  mix-blend-mode: darken;
}
.dramatic::before {
  background-color: hsl(291, 50%, 25%);
  mix-blend-mode: lighten;
}
/**
Crop
 */
.horizontal {
  transform: scaleX(-1);
}
.vertical {
  transform: scaleY(-1);
}
.deg0 {
  transform: rotate(0deg);
}
.deg30 {
  transform: rotate(30deg);
}
.deg60 {
  transform: rotate(60deg);
}
.deg90 {
  transform: rotate(90deg);
}
.deg180 {
  transform: rotate(180deg);
}
/*

*/
.r_16_9 {
  transform: scaleX(1.77777778);
}
.r_10_7 {
  transform: scaleX(1.42857143);
}
.r_7_5 {
  transform: scaleX(1.4);
}
.r_4_3 {
  transform: scaleX(1.33333333);
}
.r_5_3 {
  transform: scaleX(1.66666667);
}
.r_3_2 {
  transform: scaleX(1.5);
}
